@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Assignment 2";
}

<body>

    <img src="~/img/horse.jpg" alt="horseback ride" class="center" />
    <br />
    <h2>Hopes for IS 413:</h2>
    <p class="center">
        The main thing that I hope to be able to come out of this class with is to be a better programmer. I
        am really hopipng that this class will help me land a development internship of some kind. I am hoping to improve my
        problem solving skills throughout the course of the class as well as be able to learn the theory behind the code I write.
        I think this is something that I've lacked in the past but will most definitely help me in the future if I can nail that down.
    </p>
    <br />

    <h2>My Top jobs wanted:</h2>
    <ul class="wanted-jobs">
        <li>1. Developer (not too picky on what kind yet)</li>
        <li>2. Data Analyst</li>
        <li>3. Project Manager</li>
    </ul>

    


</body>
