/*This is my styles page that contains a whole bunch of styles that are used across the different views*/

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-content: center;
}

label {
    font-size: 20px;
    color: black;
    width: 150px;
    display: inline-block;
}

menu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    width: 100px;
    height: 675px;
}

ul.wanted-jobs li {
    list-style-type: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/*
p{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}*/

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.buttoncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
